classes/*
target/*
.cpcache/*
.vscode
node_modules
.shadow-cljs
.nrepl-port
resources/public/js/*
resources/public/css/main.css
resources/ssr
.sass-cache
test-*.edn
*.log
.clj-kondo
.DS_Store
.planck_cache
.idea/
*.*#
*.#*
*.rsls
